 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div id="profile-picture" class="title"><h2><img class="chat-head" src="img/profile.png" height="130" alt="profile picture"></h2></div>
                </div>
            </div>
            <div class="row">
                <div class="intro-description" data-sr="scale up 20%, over 0.5s">
                    <p>Hi, my name is Napon Taratan and I'm a student and a software developer. I'm currently pursuing an undergraduate degree in computer science at the University of British Columbia. Aside from my interest in software engineering, I also enjoy graphic design and video editing. Here are some of my past experiences:</p>
                </div>
                <div class="col-lg-12 experience-logos">
                    <div class="col-md-4 table-align-bottom" data-sr>
                        <img src="img/ubc_dark.png" class="center-block" alt="UBC" />
                        <div class="text-center"><p><b>University of British Columbia</b><br>Undergraduate Teaching Assistant<br>Computer Science 210</p></div>
                    </div>
                    <div class="col-md-4 table-align-bottom" data-sr>
                        <img src="img/google.png" class="center-block" alt="Google" />
                        <div class="text-center"><p><b>Google</b><br>
                        Software Engineering Intern<br>Data Center Software</p></div>
                    </div>
                    <div class="col-md-4 table-align-bottom" data-sr>
                        <img src="img/microsoft.png" class="center-block work-icon" alt="Microsoft" />
                        <div class="text-center"><p><b>Microsoft</b><br>
                        Software Engineering Intern<br>Windows and Devices Group</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>